<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atgugui.jdbc.EmployeeMapper">
    <select id="getEmpById" resultType="com.atgugui.model.Employee">
        SELECT * FROM employee WHERE id=#{id}
    </select>
</mapper>